@import "base";
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

html {
    height: 100%;
    width: 100%;
    background: url(../img/bg_tiling.png) repeat left top $base;
    background: url(../img/bg.png) repeat-x left top, url(../img/bg_tiling.png) repeat left top $base;
}

body {
    background: transparent;
}

.wf-loading .webfont {
	visibility: hidden;
}

.wf-inactive .webfont {
	visibility: visible;
}

body#placeholder {
    @include ronnia-bold;
    
    header {
        color: $cream;
        text-align: center;
        width: 490px;
        margin: 0 auto;

        h1 {
            text-indent: -9999px;
            width: 490px;
            height: 540px;
            margin: 30px auto;
            background: url(../img/masthead.png) no-repeat center center;
        }

        h2 {
            @include text-shadow($dark 0 3px 0);
            text-transform: uppercase;
            font-size: 2.2em;
            letter-spacing: 2px;
            margin-bottom: 15px;
            font-weight: 700;

            em {
                text-transform: lowercase;
                font-style: italic;
                font-size: 0.6em;
                vertical-align: 0.3em;
                @include ffmeta;
            }
        }

        h3 {
            @include text-shadow($dark 0 2px 0);
            font-size: 1.5em;
            text-transform: lowercase;
            letter-spacing: 1px;
            
            #conference { 
                margin-right: 2em;
            }

            em {
                text-transform: lowercase;
                font-style: italic;
                font-size: 0.8em;
                vertical-align: 0.3em;
                @include ffmeta;
            }

            sup {
                vertical-align: super;
                font-size: 0.6em;
                padding-left: 0.1em;
                text-decoration: underline;
                text-transform: lowercase;
            }
        }
    }

    #capture {
        @include ronnia-light;
        display: block;
        width: 400px;
        height: 60px;
        margin: 20px auto;
        padding: 10px;
        background-color: $dark; // for retarded browsers
        background-color: transparentize($dark, 0.7);
        @include border-radius(8px);
        
        label {
            display: none;
        }

        #subscribe {
            @include clearfix;
            @include border-radius(6px);
            background-color: $dark;
            width: 100%;
            height: 60px;
            position: relative;
        }

        #feedback {
            @include ffmeta;
            @include border-radius(6px);
            font-size: 20px;
            line-height: 40px;
            position: absolute;
            padding: 10px 10px 10px 40px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 999;
            background-color: $dark;
            @include box-shadow(#888, 0, 0, 5px, 0px, inset);
            display: none;
        }

        #feedback.processing {
            background: url(../img/loading.gif) no-repeat center center $dark;
        }

        #feedback em {
            font-style: italic;
        }

        #feedback.ok {
            background: url(../img/ok.png) no-repeat 10px 20px $sub_ok;
        }

        #feedback.error {
            background: url(../img/error.png) no-repeat 10px 20px $sub_error;
        }
        
        #id_email {
            background-position: right center;
            @include ffmeta;
            display: block;
            float: left;
            height: 40px;
            width: 300px;
            background-color: $cream;
            color: black;
            border: 0px;
            padding: 10px;
            margin-right: 0;
            font-size: 20px;
            letter-spacing: 1px;
            @include border-left-radius(6px);
            @include transition;
            @include box-shadow(darken($cream, 80%), 0, 0, 5px, 0px, inset);
            
            &.labelled {
                @include ffmeta;
                color: #999;
            }
            
            &:focus {
                outline: none;
                color: black;
                background-color: white;
            }


        }

        input#submit {
            text-shadow: 0 0 10px $dark;
            display: block;
            float: left;
            height: 60px;
            width: 80px;
            padding: 10px;
            background-color: $dark;
            background-position: center center;
            background-repeat: none;
            border: none;
            outline: none;
            -webkit-appearance: none;
            @include border-right-radius(6px);
            @include box-shadow(darken($dark, 5%), 0, 0, 10px, 0px, inset);
            color: $cream;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 2px;
            cursor: pointer;
            
            @include transition;

            &:hover {
                text-shadow: 0 0 15px white;
                @include transition;
            }
        }
    }

    img.facebook-image {
        display: none;
    }
    
}
