<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>DjangoCon.eu 2010 - {% block title %}Berlin{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css" media="screen" title="Basic Style" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/960.css" type="text/css" media="screen" title="Basic Style" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/local.css" type="text/css" media="screen" title="Basic Style" charset="utf-8">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    
    {% block extra_css %}
    {% endblock extra_css %}
        
    {% block extra_js %}
    {% endblock extra_js %}
    
    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
{% block main %}
    {% block flash %}
    {% endblock flash %}
    
    {% block header %}
    <div id="masthead_wrap">
        <div id="masthead">
            <a id="pony_home" href="{% url home %}">&nbsp;</a>
            <h1><a href="{% url home %}">djangocon.eu</a></h1>
            <h2 id="when">May 24-26, 2010</h2>
            <h2 id="where">Berlin</h2>
            <div id="announceribbon">24-26th May, Sprints 27-28</div>
        </div>
    </div>
    {% include "snippets/navigation.html" %}
    {% endblock header %}
    
    {% block content %}
    {% endblock content %}

    {% block footer %}
    <div id="footer">
        &copy; Deutscher Django-Verein e. V. 2010, all rights reserved | <a href="{% url legal_notices %}">Legal Notices</a> | <a href="http://pixane.com">pixels by <img src="{{ STATIC_URL }}img/by_pxd.png" alt="PXD" title="PXD"></a>
    </div>
    {% endblock footer %}
{% endblock main %}
<script type='text/javascript'><!--
    $(document).ready(function(){
        var found = false;
        $('#navigation a').each(function(i,obj){
            if(document.location.href.indexOf(obj.href) == 0 && obj.href.length > $('#navigation a:first')[0].href.length){
                $(obj).addClass('active');
                found = true;
            };
        });
        if (!found) {
            $('#navigation a:first').addClass('active');
        };
    });
--></script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-204224-20']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
    })();
</script>
</body>
</html>
