<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>EuroDjangoCon 2010 - {% block title %}Berlin{% endblock %}</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" type="text/css" media="screen" title="Basic Style" charset="utf-8">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/local.css" type="text/css" media="screen" title="Basic Style" charset="utf-8">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cycle.lite.1.0.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.infieldlabel.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#taglines').cycle({ timeout: 5000 });
            $('label').addClass('infield').inFieldLabels();
            $('#formerrors').fadeIn(1000);
        });
    </script>
</head>
<body>
<div id="about">
    <h1>EuroDjangoCon</h1>
    <div class="lefttag">
        <div class="basicinfolabel">when:</div>
        <h2 id="when">May/June, 2010 (<acronym title="To Be Announced">TBA</acronym>)</h2>
    </div>
    <div class="lefttag">
        <div class="basicinfolabel">where:</div>
        <h2 id="where">Berlin</h2>
    </div>
    <div id="flowchart">
        Plane to Pony.
    </div>
</div>
{% block main %}
{% endblock %}
</body>
</html>
