{% extends 'base.html' %}

{% block title %}Legal{% endblock title %}

{% block content %}
    <div class="container_12 clearfix">
        <section class="grid_7 suffix_1" id="legal">
            <h1>Impressum</h1>
            
            <p>German law requires a <a href="http://en.wikipedia.org/wiki/Impressum#On_webpages" title="Impressum - Wikipedia, the free encyclopedia">statement of legal ownership</a> for documents, including websites.</p>
            
            <p>Die Website djangocon.eu wird vom Deutschen Django-Verein e. V. betrieben.</p>

            <h2>Anschrift</h2>
            {% filter linebreaks %}Deutscher Django-Verein e. V.
            Erich-Zeigner-Allee 52
            04229 Leipzig
            Deutschland

            Der Verein wird vertreten durch den Vorstand Markus Zapke-Gründemann, Martin Mahner und Florian Schlachter.

            Telefon: +49 341 39 299 290 (Mo.-Fr. 16:00 Uhr bis 18:00 Uhr)
            Telefax: +49 3212 100 74 39
            E-Mail: kontakt@django-de.org

            Vereinsregister: Amtsgericht Leipzig
            Registernummer: VR 4814
            
            Umsatzsteuer-Identifikationsnummer: DE269932358
            {% endfilter %}

            <h1>Haftungshinweis</h1>
            {% filter linebreaks %}Trotz sorgfältiger inhaltlicher Kontrolle übernimmt der Deutsche Django-Verein e. V. keine Haftung oder Garantie für die Aktualität, Richtigkeit und Vollständigkeit der Informationen auf dieser Website. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. Für die eingestellten Inhalte auf den Teilnehmerseiten sind die jeweiligen Teilnehmer selbst verantwortlich.

            Diese Website enthält Verweise auf Websites, die von Dritten eingerichtet wurden. Der Deutsche Django-Verein e. V. hat keinerlei Kontrolle über die Websites und die dort angebotenen Informationen, Waren oder Dienstleistungen. Der Deutsche Django-Verein e. V. übernimmt daher keinerlei Verantwortung, aus welchem Rechtsgrund auch immer, für den Inhalt der Websites Dritter.

            Der Deutsche Django-Verein e. V. behält sich das Recht vor, die auf dieser Website angebotenen Informationen ohne gesonderte Ankündigung jederzeit zu verändern oder zu aktualisieren.

            Für gegebenenfalls bestehende oder künftig entstehende Rechtsverhältnisse ist ausschließlich deutsches Recht anwendbar und sind nur deutsche Gerichte zuständig.
            {% endfilter %}
        </section>
        <section class="grid_4" id="colophon">
            <h1>Colophon</h1>
            
            <p>DjangoCon's site was built by the community, and has enjoyed the contributions of the following (non-exhaustive list of) people:</p>
            <ul>
                <li>Jannis Leidel / <a href="http://twitter.com/jezdez">@jezdez</a></li>
                <li>Stephan Jäkel / <a href="http://twitter.com/stephrdev">@stephrdev</a></li>
                <li>Idan Gazit / <a href="http://twitter.com/idangazit">@idangazit</a></li>
                <li>Philipp Bosch / <a href="http://twitter.com/philippbosch">@philippbosch</a></li>
                {# <li>Jesper Nøhr / <a href="http://twitter.com/jespern">@jespern</a></li> #}
            </ul>
			<p>Additionally, we'd like to provide attribution to the following projects:</p>
			<ul>
				<li><a href="http://glyphish.com/" title="Glyphish &ndash; Great icons for great iPhone &amp; iPad applications">Glyphish</a> for the lovely icons.</li>
				<li><a href="http://gunicorn.org" title="Green Unicorn">gunicorn</a>, the WSGI server of champions.</li>
			</ul>
            <p>You have three guesses as to which web development framework was used to build the site, and the first two don't count.</p>
        </section>
    </div>

{% endblock content %}
