{% extends "base.html" %}

{% block content %}
    <div class="container_12 clearfix">
        <script type="text/javascript" src="https://de.amiando.com/resources/js/amiandoExport.js"></script>
        <iframe src="https://de.amiando.com/djangocon_eu_2010.html?viewType=iframe&amp;panelId=609611&amp;useDefaults=false&amp;useEventColors=false&amp;simple_cbox=C2EFFF&amp;simple_ctext=586C78&amp;simple_clink=0599EE&amp;resizeIFrame=true" frameborder="0" width="960" height="450" name="_amiandoIFrame609611vnMbcdcZ" id="_amiandoIFrame609611vnMbcdcZ">
            <p>This page requires frame support. Please use a frame compatible browser to see the amiando ticket sales widget.</p>
        </iframe>
    </div>
{% endblock content %}
