{% extends "base.html" %}
{% block title %}Schedule{% endblock %}

{% block content %}
    <div class="container_12 clearfix">
        <section class="grid_7">
            <h1>Schedule</h1>
            <iframe src="https://www.google.com/calendar/hosted/leidel.info/embed?showNav=0&amp;bgcolor=%23c2efff&amp;showDate=0&amp;showCalendars=0&amp;showTitle=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=leidel.info_n04bmbh1smmrutkstov0nhijl4%40group.calendar.google.com&amp;color=%234A716C&amp;ctz=Europe%2FBerlin" style=" border-width:0" width="500" height="600" frameborder="0" scrolling="no"></iframe>
        </section>
        <section class="grid_5">
            <h1>Location</h1>
            <p>Palisadenstraße 48, 10243 Berlin, Germany</p>
            <p>
                <a href="http://maps.google.com/maps/place?cid=11679138350169366042&amp;hl=en" target="_blank">
                    <img id="venue_map" src="http://maps.google.com/maps/api/staticmap?center=52.517892,13.427555&amp;zoom=13&amp;markers=52.518792,13.439455&amp;size=300x250&amp;sensor=false&amp;key=ABQIAAAAfRw5BHIgeTTl0Nr3llv40BSu6dX-ok0Ee4KvO5-Eu4vc0f4aehQV-M2fGCz5p7FMYeiAHfM-EIznqQ" alt="Maps" />
                </a>
            </p>
        </section>
    </div>
{% endblock content %}
