{% extends "base.html" %}

{% load gravatar %}

{% block title %}Berlin {% endblock %}

{% block extra_js %}
{#    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cycle.lite.1.0.min.js"></script>   #}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cycle.all.min.js"></script>
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.infieldlabel.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // $('#tagline_wrap').cycle({ timeout: 5000 });
            
            $('#tagline_wrap').cycle({ 
                timeout: 5000,
                fx: 'scrollDownFade',
                speedIn: 500,
                speedOut: 250
            });
            
            
            $('label').addClass('infield').inFieldLabels();
            $('#formerrors').fadeIn(1000);
        });
    </script>
{% endblock extra_js %}

{% block content %}
    <div id="tagline_wrap">
        {% for t in taglines %}
            <div class="tagline">
                <img class="tagline_gravatar" width=48 height=48 src="{% gravatar_for_email t.subscriber.email 48 %}" alt="gravatar">                
                <div class="tagline_text">{{ t.tagline }}</div>
            </div>
        {% endfor %}
    </div>
    <div id="subscribe">
        {% if edc_subscribed %}
            <h3>We'll drop you a line when we have news to share.</h3>
            <h4>Would you like to <a href="{% url clear %}">register another email</a>?</h4>
        {% else %}
        <h3>Our conference-news spam is made from 100% fresh pony.</h3>
        <h4>Give us your email and we'll send you important info and announcements.</h4>
        <form action="{% url home %}" method="POST" accept-charset="utf-8">
            {% if form.errors %}
                <div id="formerror">
                    {{ form.errors }}
                </div>
            {% endif %}
            <fieldset id="fieldset_email">
                <legend></legend>
                {{ form.email.label_tag }}
                {{ form.email }}
            </fieldset>
            <fieldset id="fieldset_tagline">
                <legend></legend>
                {{ form.tagline.label_tag }}
                {{ form.tagline }}
            </fieldset>
            <h5>Suggest a short tagline for djangocon.eu 2010. Please don't be rude. Avatars by <a href="http://gravatar.com">gravatar</a>.</h5>
            <input type="submit" value="Sign Up!" id="signupbutton"/>
        </form>
        {% endif %}
    </div>
{% endblock content %}