{% extends "base.html" %}
{% block title %}Venue{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/colorbox.css" type="text/css" media="screen" title="Basic Style">
{% endblock extra_css %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.colorbox-min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
			$('.colorbox[rel="venue_photos"]').colorbox({opacity: 0.6})
        });
    </script>
{% endblock extra_js %}


{% block content %}
    <div class="container_12 clearfix">
        <section class="grid_7">
            <h1>Venue</h1>
			<h2>Conference Hall - Palisa.de</h2>
            <p>
                The venue is an extensively restored industrial monument built in 1899 and is just a few minutes
                away from Alexanderplatz, a large square in Berlin's city center.
            </p>
			<p>
				<a class="colorbox" rel="venue_photos" href="{{ STATIC_URL }}img/venue_1.jpg"><img src="{{ STATIC_URL }}img/venue_1_thumb.jpg" alt="Exterior of the venue building"></a>
				<a class="colorbox" rel="venue_photos" href="{{ STATIC_URL }}img/venue_2.jpg"><img src="{{ STATIC_URL }}img/venue_2_thumb.jpg" alt="Courtyard in the venue building"></a>
				<a class="colorbox" rel="venue_photos" href="{{ STATIC_URL }}img/venue_3.jpg"><img src="{{ STATIC_URL }}img/venue_3_thumb.jpg" alt="Interior of the conference room, empty"></a>
				<a class="colorbox" rel="venue_photos" href="{{ STATIC_URL }}img/venue_4.jpg"><img src="{{ STATIC_URL }}img/venue_4_thumb.jpg" alt="Interior of the conference room during a conference"></a>
			</p>
			<h2>Lodging</h2>
			<p>
				Unfortunately, attempts to reserve a block of rooms at a hotel close to the venue were unsuccessful. The practical
				impact on attendees is that hotel reservations must be made individually.
			</p>
			<p>
				Regardless, we hope that most djangonauts will be staying at the same hotels for practical and social reasons.
				To that end, here is a list of suitable hotels which will be extended over time, watch for announcements via the
				<a href="{% url blog_index %}">conference blog</a>.
                <ul class="hotels">
                <li class="hotel">{% filter linebreaksbr %}INNSIDE Premium Hotel
                    Lange Straße 31
                    10243 Berlin

                    Tel: +49 30 29303 0
                    Fax: +49 30 29303 199

                    Email: berlin@innside.de
                    <a href="http://www.innside.de">www.innside.de</a>

                    Single room from € 86,-
                    Double room from € 97,-

                    approx. 10 mins by foot from venue

                    {% endfilter %}</li>

                <li class="hotel">{% filter linebreaksbr %}Klassik Hotel Friedrichshain
                    Revaler Straße 6
                    10245 Berlin

                    Tel: +49 30 319886 0
                    Fax: +49 30 319886 199

                    Email: info@hotelklassik-berlin.de
                    <a href="http://www.hotelklassik-berlin.de">www.hotelklassik-berlin.de</a>

                    Single room from € 75,-
                    Double room from € 95,-

                    approx. 15 mins by foot from venue

                    {% endfilter %}</li>

                <li class="hotel">{% filter linebreaksbr %}Upstalsboom Hotel Friedrichshain
                    Gubener Straße 42
                    10243 Berlin

                    Tel: +49 30 29375 0
                    Fax: +49 30 29375 777

                    Email: info@upstalsboom-berlin.de
                    <a href="http://www.upstalsboom.de/hotel_berlin/hotel_friedrichshain/">www.upstalsboom.de</a>

                    Single room from € 89,-
                    Double room from € 89,-

                    approx. 15 mins by foot from venue

                    {% endfilter %}</li>

                <li class="hotel">{% filter linebreaksbr %}NH Berlin-Alexanderplatz
                    Landsberger Allee 26-32
                    10249 Berlin

                    Tel: +49 30 422613 0
                    Fax: +49 30 422613 300

                    Email: nhberlinalexanderplatz@nh-hotels.com
                    <a href="http://www.nh-hotels.com">www.nh-hotels.com</a>

                    Single room from € 89,-
                    Double room from € 89,-

                    approx. 15 mins by foot from venue

                    {% endfilter %}</li>

                <li class="hotel">{% filter linebreaksbr %}art'otel Berlin-Mitte
                    Wallstraße 70-73
                    10179 Berlin

                    Tel: +49 30 240 620
                    Fax: +49 30 24062222

                    Email: berlin@artotel.de
                    <a href="http://www.artotel.de">www.artotel.de</a>

                    Single room from € 89,-
                    Double room from € 89,-

                    approx. 15 mins by foot from venue

                    {% endfilter %}</li>

                <li class="hotel">{% filter linebreaksbr %}Hotel Ibis Berlin City Ost
                    An der Schillingbrücke 2
                    10243 Berlin

                    Tel: +49 30 25760 0
                    Fax: +49 30 25760 333

                    Email: H3108@accor.com
                    <a href="http://accorhotels.com">accorhotels.com</a>

                    Single room from € 49,-
                    Double room from € 59,-

                    approx. 15 mins by foot from venue

                    {% endfilter %}</li>
                </ul>
			</p>
            <h2>Resources</h2>
			<p>
				We plan on posting a list of resources to help attendees get around Berlin. Watch this space for links and information
				useful for the intrepid djangonaut about town.
			</p>
			<ul>
				<li><strong>Coming soon:</strong> Getting a prepaid voice/data SIM card in Berlin.</li>
				<li><strong>Coming soon:</strong> Public transportation: getting around Berlin.</li>
				<li><strong>Coming soon:</strong> Local tips: be more awesome than the average tourist.</li>
				<li><strong>Coming soon:</strong> Sightseeing: be just like the average tourist.</li>
                <li><a target="_blank" href="http://palisa.de/en/">Palisa.de - Conference Hall.</a></li>
                <li><a target="_blank" href="http://maps.google.com/maps/place?cid=11679138350169366042&amp;hl=en">View venue location on Google Maps.</a></li>
            </ul>
        </section>
        <section class="grid_5">
            <h1>Location</h1>
            <p>Palisadenstraße 48, 10243 Berlin, Germany</p>
			<p>
                <a href="http://maps.google.com/maps/place?cid=11679138350169366042&amp;hl=en" target="_blank">
                    <img id="venue_map" src="http://maps.google.com/maps/api/staticmap?center=52.517892,13.427555&amp;zoom=13&amp;markers=52.518792,13.439455&amp;size=300x250&amp;sensor=false&amp;key=ABQIAAAAfRw5BHIgeTTl0Nr3llv40BSu6dX-ok0Ee4KvO5-Eu4vc0f4aehQV-M2fGCz5p7FMYeiAHfM-EIznqQ" alt="Maps" />
                </a>
            </p>
        </section>
    </div>
{% endblock content %}
