Hello {{ attendee.first_name }} {{ attendee.last_name }},

You've completed your registration for DjangoCon Europe 2010.

Your payment details are being processed, and you'll receive a booking confirmation after your payment details are authorized by PayPal.
 
If you were not successfully redirected to PayPal following registration, please complete the payment process by clicking on the following link:

http://djangocon.eu{% url attendees_paypal_redirect attendee.pk %}

If you experienced any problems with your booking, please contact us:

* feedback@djangocon.eu
* #djangocon on IRC (freenode)
* @djangocon (twitter)

Thank you!

The DjangoCon.eu Team