Hello {{ attendee.first_name }} {{ attendee.last_name }},

You've completed your registration for DjangoCon Europe 2010.

Your payment details are being processed, and you'll receive a booking confirmation after your payment details are authorized by PayPal.
 
If you were not successfully redirected to PayPal following registration, please complete the payment process by clicking on the following link:

http://djangocon.eu{% url attendees_paypal_redirect attendee.pk %}

If you experienced any problems with your booking, please contact us:

* feedback@djangocon.eu
* #djangocon on IRC (freenode)
* @djangocon (twitter)

Thank you!

The DjangoCon.eu Team

--
Deutscher Django-Verein e. V.
Erich-Zeigner-Allee 52, 04229 Leipzig, Deutschland
Eingetragen im Amtsgericht Leipzig, VR 4814

Der Verein wird vertreten durch den Vorstand:
Markus Zapke-Gründemann, Martin Mahner und Florian Schlachter

kontakt@django-de.org
Fon: +49 341 39 299 290 (Mo. - Fr. 16:00-18:00 Uhr)
Fax: +49 3212 100 74 39

Umsatzsteuer-Identifikationsnummer: DE269932358

- Bankverbindung für Überweisungen - 

Deutscher Django-Verein e. V.
Konto-Nummer: 2722208
Bankleitzahl: 505 30 000  (Cronbank AG Dreieich)
