Hello {{ attendee.first_name }} {{ attendee.last_name }},

We received your payment details. This is your booking confirmation!

Please keep this email safe as it is your conference ticket and receipt of payment.

Your name: {{ attendee.first_name }} {{ attendee.last_name }}
Your email: {{ attendee.email }}
Your ticket id: {{ attendee.pk }}
Your ticket: {{ attendee.ticket_type }}
Booking date: {{ attendee.date_added|date }}

If you have any problems, just contact us by mail (feedback@djangocon.eu) or #djangocon (freenode irc).

Thank you!

The DjangoCon.eu Team

