{% extends 'base.html' %}

{% block title %}Register{% endblock title %}

{% block extra_js %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.infieldlabel.js"></script>
	<script type="text/javascript">
        $(document).ready(function() {
				// back button might leave us with a form that is filled in,
				// but with necessary blocks not visible.
				{% for t in voucher_tickets %}
					if($('#id_ticket_type').val() == {{ t.id }}) {
						$('#fieldset_attendees_register_voucher').show();						
					}
				{% endfor %}
				{% for t in vat_tickets %}
					if($('#id_ticket_type').val() == {{ t.id }}) {
						$('#fieldset_attendees_vat_details').show();
					}
				{% endfor %}
				
				$('#id_ticket_type').change(function() {
					$('#fieldset_attendees_register_voucher').hide()
					$('#fieldset_attendees_vat_details').hide()
				{% for t in voucher_tickets %}
					if($(this).val() == {{ t.id }}) {
						$('#fieldset_attendees_register_voucher').fadeIn('fast');
						
					}
				{% endfor %}
				{% for t in vat_tickets %}
					if($(this).val() == {{ t.id }}) {
						$('#fieldset_attendees_vat_details').fadeIn('fast');
					}
				{% endfor %}
				});
				$('.formrow.infield>label').addClass('infield').inFieldLabels();
	            $('#formerrors').fadeIn(1000);
	        });
	    </script>
{% endblock extra_js %}

{% block content %}
    <div class="container_12 clearfix">
        <section class="grid_7 suffix_1" id="tickets_register">
            <h1>Register for DjangoCon Europe 2010</h1>
            {% if not ticketblock or not ticketblock.open %}
                <ul class="errorlist"><li>The current block of tickets is sold out!</li></ul>
                
                <p>If you have questions regarding your 
                        booked ticket email us at: 
                        <a href="mailto:feedback@djangocon.eu">feedback@djangocon.eu</a>
                </p>
            {% else %}
            
				<p>
					Registration for the conference includes:
				</p>
				<ul>
					<li>Access to all talks and sessions</li>
					<li>Coffee and snacks during breaks</li>
					<li>Lunch at one of three restaurants near the venue</li>
					<li>Free wifi at the conference</li>
				</ul>
				
				<p>We currently sell tickets using:</p>
				
				<ul>
				    <li><a href="#paypal">Paypal</a></li>
				    <li><a href="#wire">Wire transfer</a></li>
				    <li><a href="#other">Other payment methods</a></li>
				</ul>
						
                {{ form.non_field_errors }}
                <form action="." method="POST" accept-charset="utf-8" id="form-attendees-register">
                    
                    <h1 id="paypal" style="margin-bottom: -20px;">Register using Paypal</h1>
                    <fieldset id="fieldset_attendees_register_ticket">
						<p>
							Please choose your ticket type.
						</p>
						<p>
						    <strong>Not sure which ticket to purchase?</strong> Consult the guidelines in the sidebar (to the right).
							This is a community-supported conference; <strong>please be honest when choosing a ticket type</strong>.
						</p>

                        <div class="formrow clearfix">
                            {{ form.ticket_type.label_tag }}
                            {{ form.ticket_type }}
                            {{ form.ticket_type.errors }}
                        </div>
                    </fieldset>
                    <fieldset id="fieldset_attendees_register_contact">
                        <legend>Contact details</legend>
                        <div class="formrow infield clearfix">
                            {{ form.first_name.label_tag }}
                            {{ form.first_name }}
                            {{ form.first_name.errors }}
                        </div>
                        <div class="formrow infield clearfix">
                            {{ form.last_name.label_tag }}
                            {{ form.last_name }}
                            {{ form.last_name.errors }}
                        </div>
                        <div class="formrow infield clearfix">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>
                    </fieldset>
                    <fieldset id="fieldset_attendees_register_voucher">
                        <legend>Student-Rate Voucher</legend>
                        <div class="formrow infield clearfix">
                            {{ form.voucher.label_tag }}
                            {{ form.voucher }}
                            {{ form.voucher.errors }}
                        </div>
                    </fieldset>
                    <fieldset id="fieldset_attendees_vat_details">
                        <legend>EU VAT Details</legend>
                        <div class="formrow infield clearfix">
                            {{ form.vat_id.label_tag }}
                            {{ form.vat_id }}
                            {{ form.vat_id.errors }}
                        </div>
                    </fieldset>
					<p>
						<strong>Ticket purchases are processed via PayPal.</strong> Upon submission, you will be redirected to PayPal's
						servers to provide your payment information, and will be returned here once your payment
						details have been processed.
					</p>
                    <p><input type="submit" value="Submit" id="ticket_submit"></p>
                </form>
                
                <div style="clear:left"></div>
                <h1 id="wire" style="margin-top: 50px;">Register using Wire Transfer</h1>

                    <p>
                        If you prefer wire transfer over Paypal that’s easy. 
                        Please drop us a short e-mail under  <a href="mailto:feedback@djangocon.eu">feedback@djangocon.eu</a>
                        with the following information:
                    </p>
                    
                    <ul>
                        <li>Your <strong>mailing address</strong></li>
                        <li>The <strong>name</strong> and <strong>ticket type</strong> of the attendee(s)</li>
                        <li>
                            If you live within the EU and buy the tickets for your company,
                            tell us your <strong>VAT-ID</strong> to avoid the sales
                            tax.
                        </li>
                    </ul>
                    
                    <p>
                        <strong>What's then?</strong> We'll generate you an invoice in PDF
                        format and send it back to you via e-mail (or fax) for verification. The PDF
                        contains our bank account information. The price is due two
                        weeks after invoice date.
                    </p>
                    
                    
                    <p style="margin-top: 20px;"><strong>Bank account information</strong></p>
                    
                    <p>Here are our bank account information in case you lost them:</p>
                    
                    <p>
                        <strong>Account holder:</strong>	Deutscher Django-Verein e. V.<br/>
	                    <strong>Account number:</strong>	27 222 08<br/>
	                    <strong>Bank code:</strong>		505 30 000 (Cronbank AG Dreieich)<br/>
	                    <strong>BIC:</strong>			GENODE51CRO<br/>
	                    <strong>IBAN:</strong>			DE58505300000002722208
	                </p>
	                
	
                <h1 id="wire" style="margin-top: 50px;">Other payment methods</h1>
                
                <p>
                    Unfortunately Paypal and Wire transfers are currently the only
                    ways to acquire a ticket. If you have problems regarding the payment
                    please drop us an e-mail under <a href="mailto:feedback@djangocon.eu">feedback@djangocon.eu</a>
                    to find a solution.
                </p>
                
            {% endif %}
        </section>
        <section class="grid_4 sidebar">
            <h1>Additional Information</h1>
			<h2>Which rate should I pay?</h2>
			<p>
				The short answer: if you are paying your own way to the conference, select <strong>Hobbyist</strong>. If
				your employer is paying for you to attend DjangoCon, select <strong>Corporate</strong>.
			</p>
            <h2>Student rate</h2>
            <p>
                The student rate is for full-time students only and is limited in number. Academics and employees of
				non-profits should register at the normal rates, depending on whether you are paying your own way to
				the conference (see above).
            </p>
			<p>
				To purchase a student ticket, <a href="mailto:feedback@djangocon.eu">contact us</a> to apply for a voucher to enable the ticket.
				You will need to submit proof of your student status; a current timetable or valid student ID card will suffice.
			</p>
            <h2>Corporate rate</h2>
            <p>
                Reimbursement / tax receipts for companies are only available at this rate. Included in your ticket purchase is
				the warm fuzzy feeling of knowing you enabled more students to afford their attendance fee <em>and</em> food for the month.
            </p>
            <h2>VAT-Free Corporate Rate</h2>
            <p>
                European companies can fill in their VAT-ID and choose the VAT-free business ticket. We can only provide VAT-free
				tickets if the stated VAT-ID can be validated.
            </p>
        </section>
    </div>
{% endblock content %}