/* line 3, ../sass/mobile.scss */
html {
  width: 320px;
}

/* line 7, ../sass/mobile.scss */
body#placeholder {
  width: 320px;
  margin: 0 auto;
  background: transparent;
}
/* line 12, ../sass/mobile.scss */
body#placeholder header {
  width: 320px;
}
/* line 15, ../sass/mobile.scss */
body#placeholder header h1 {
  margin: 0 0 20px 0;
  width: 320px;
  height: 360px;
  background-image: url(../img/masthead_mobile.png);
}
/* line 22, ../sass/mobile.scss */
body#placeholder header h2 {
  font-size: 1.8em;
  margin: 0 auto 1em;
  text-align: center;
}
/* line 26, ../sass/mobile.scss */
body#placeholder header h2 em {
  display: block;
  clear: all;
  margin: 5px 0 10px;
}
/* line 33, ../sass/mobile.scss */
body#placeholder header h3 {
  margin: 0 auto;
  text-align: center;
}
/* line 37, ../sass/mobile.scss */
body#placeholder header h3 #conference {
  margin-right: 0;
}
/* line 41, ../sass/mobile.scss */
body#placeholder header h3 span {
  display: block;
  margin-bottom: 0.5em;
}
/* line 51, ../sass/mobile.scss */
body#placeholder #capture {
  width: 300px;
  height: auto;
  margin: 20px 0;
  padding: 10px;
}
/* line 57, ../sass/mobile.scss */
body#placeholder #capture #id_email {
  width: 200px;
}
