@charset "UTF-8";
/* line 14, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 6, ../sass/screen.scss */
html {
  height: 100%;
  width: 100%;
  background: url(../img/bg_tiling.png) repeat left top #b32017;
  background: url(../img/bg.png) repeat-x left top, url(../img/bg_tiling.png) repeat left top #b32017;
}

/* line 13, ../sass/screen.scss */
body {
  background: transparent;
}

/* line 17, ../sass/screen.scss */
.wf-loading .webfont {
  visibility: hidden;
}

/* line 21, ../sass/screen.scss */
.wf-inactive .webfont {
  visibility: visible;
}

/* line 25, ../sass/screen.scss */
body#placeholder {
  font-family: "ronnia-condensed-1","ronnia-condensed-2";
  font-weight: 700;
}
/* line 28, ../sass/screen.scss */
body#placeholder header {
  color: #f5e6d2;
  text-align: center;
  width: 490px;
  margin: 0 auto;
}
/* line 34, ../sass/screen.scss */
body#placeholder header h1 {
  text-indent: -9999px;
  width: 490px;
  height: 540px;
  margin: 30px auto;
  background: url(../img/masthead.png) no-repeat center center;
}
/* line 42, ../sass/screen.scss */
body#placeholder header h2 {
  text-shadow: #7e0008 0 3px 0;
  text-transform: uppercase;
  font-size: 2.2em;
  letter-spacing: 2px;
  margin-bottom: 15px;
  font-weight: 700;
}
/* line 50, ../sass/screen.scss */
body#placeholder header h2 em {
  text-transform: lowercase;
  font-style: italic;
  font-size: 0.6em;
  vertical-align: 0.3em;
  font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", georgia, serif;
  font-weight: 500;
}
/* line 59, ../sass/screen.scss */
body#placeholder header h3 {
  text-shadow: #7e0008 0 2px 0;
  font-size: 1.5em;
  text-transform: lowercase;
  letter-spacing: 1px;
}
/* line 65, ../sass/screen.scss */
body#placeholder header h3 #conference {
  margin-right: 2em;
}
/* line 69, ../sass/screen.scss */
body#placeholder header h3 em {
  text-transform: lowercase;
  font-style: italic;
  font-size: 0.8em;
  vertical-align: 0.3em;
  font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", georgia, serif;
  font-weight: 500;
}
/* line 77, ../sass/screen.scss */
body#placeholder header h3 sup {
  vertical-align: super;
  font-size: 0.6em;
  padding-left: 0.1em;
  text-decoration: underline;
  text-transform: lowercase;
}
/* line 87, ../sass/screen.scss */
body#placeholder #capture {
  font-family: "ronnia-condensed-1","ronnia-condensed-2";
  font-weight: 300;
  display: block;
  width: 400px;
  height: 60px;
  margin: 20px auto;
  padding: 10px;
  background-color: #7e0008;
  background-color: rgba(126, 0, 8, 0.3);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}
/* line 98, ../sass/screen.scss */
body#placeholder #capture label {
  display: none;
}
/* line 102, ../sass/screen.scss */
body#placeholder #capture #subscribe {
  overflow: hidden;
  *zoom: 1;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  background-color: #7e0008;
  width: 100%;
  height: 60px;
  position: relative;
}
/* line 111, ../sass/screen.scss */
body#placeholder #capture #feedback {
  font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", georgia, serif;
  font-weight: 500;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 20px;
  line-height: 40px;
  position: absolute;
  padding: 10px 10px 10px 40px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: #7e0008;
  -moz-box-shadow: inset 0 0 5px 0px #888888;
  -webkit-box-shadow: inset 0 0 5px 0px #888888;
  -o-box-shadow: inset 0 0 5px 0px #888888;
  box-shadow: inset 0 0 5px 0px #888888;
  display: none;
}
/* line 128, ../sass/screen.scss */
body#placeholder #capture #feedback.processing {
  background: url(../img/loading.gif) no-repeat center center #7e0008;
}
/* line 132, ../sass/screen.scss */
body#placeholder #capture #feedback em {
  font-style: italic;
}
/* line 136, ../sass/screen.scss */
body#placeholder #capture #feedback.ok {
  background: url(../img/ok.png) no-repeat 10px 20px white;
}
/* line 140, ../sass/screen.scss */
body#placeholder #capture #feedback.error {
  background: url(../img/error.png) no-repeat 10px 20px #ebe187;
}
/* line 144, ../sass/screen.scss */
body#placeholder #capture #id_email {
  background-position: right center;
  font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", georgia, serif;
  font-weight: 500;
  display: block;
  float: left;
  height: 40px;
  width: 300px;
  background-color: #f5e6d2;
  color: black;
  border: 0px;
  padding: 10px;
  margin-right: 0;
  font-size: 20px;
  letter-spacing: 1px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -o-border-top-left-radius: 6px;
  -ms-border-top-left-radius: 6px;
  -khtml-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -o-border-bottom-left-radius: 6px;
  -ms-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -moz-box-shadow: inset 0 0 5px 0px #261a09;
  -webkit-box-shadow: inset 0 0 5px 0px #261a09;
  -o-box-shadow: inset 0 0 5px 0px #261a09;
  box-shadow: inset 0 0 5px 0px #261a09;
}
/* line 162, ../sass/screen.scss */
body#placeholder #capture #id_email.labelled {
  font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", georgia, serif;
  font-weight: 500;
  color: #999;
}
/* line 167, ../sass/screen.scss */
body#placeholder #capture #id_email:focus {
  outline: none;
  color: black;
  background-color: white;
}
/* line 176, ../sass/screen.scss */
body#placeholder #capture input#submit {
  text-shadow: 0 0 10px #7e0008;
  display: block;
  float: left;
  height: 60px;
  width: 80px;
  padding: 10px;
  background-color: #7e0008;
  background-position: center center;
  background-repeat: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -o-border-top-right-radius: 6px;
  -ms-border-top-right-radius: 6px;
  -khtml-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-box-shadow: inset 0 0 10px 0px #650006;
  -webkit-box-shadow: inset 0 0 10px 0px #650006;
  -o-box-shadow: inset 0 0 10px 0px #650006;
  box-shadow: inset 0 0 10px 0px #650006;
  color: #f5e6d2;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 199, ../sass/screen.scss */
body#placeholder #capture input#submit:hover {
  text-shadow: 0 0 15px white;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 206, ../sass/screen.scss */
body#placeholder img.facebook-image {
  display: none;
}
