{% extends 'base.html' %}
{% block title %}Blog{% endblock title %}

{% block extra_head %}
    <link rel="alternate" type="application/atom+xml" title="Latest blog posts" href="{% url blog_rss %}" />
{% endblock extra_head %}

{% block content %}
    <div class="container_12 clearfix">
        <section class="grid_7 suffix_1" id="blog_content">
            {% block blog_content %}{% endblock blog_content %}
        </section>
        <section class="grid_4 sidebar" id="blog_sidebar">
            {% block blog_sidebar %}
            {% endblock blog_sidebar %}
        </section>
    </div>
{% endblock content %}