<article class="blog_snippet clearfix">
	<header>
		<h1><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h1>
		<h2>Posted by <strong>{{ object.author.first_name }}</strong> &bull; <strong>{{ object.published|date:"F jS" }}</strong></h2>
	</header>
    
	<div class="blog-body">
        {% if object.tease.raw %}
            {{ object.tease }}
        {% else %}
            {{ object.body }}
        {% endif %}
    </div>
    
	<footer>
		<p><a href="{{ object.get_absolute_url }}">Read post &rarr;</a></p>
		{% if object.tags.all %}
            <p class="taglist">
				Tagged
				{% for tag in object.tags.all %}
					<a href="{% url blog_archive_tag tag.slug %}">{{ tag }}</a>{% if not forloop.last %},{% endif %}
				{% endfor %}
			</p>
        {% endif %}
	</footer>
</article>