/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
	font-family: 'MuseoSans500';
	src: url('MuseoSans_500.eot');
	src: local('Museo Sans 500'), local('MuseoSans-500'), url('MuseoSans_500.woff') format('woff'), url('MuseoSans_500.otf') format('opentype'), url('MuseoSans_500.svg#MuseoSans-500') format('svg');
}


html, body {
	background-color: #586c78;
	color: #fff;
	font-family: MuseoSans500, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	height: 100%;
	width: 100%;
}

.wrap_960 {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}

h1 {
	width: 960px;
	height: 450px;
	margin-top: 150px;
	background-image: url(../img/500.png);
	text-indent: -9999px;
}

h2 {
	color: #909ca2;
	text-align: center;
	font-weight: normal;
	font-size: 18px;
	margin: 10px 0;
}
