/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
	font-family: 'MuseoSans500';
	src: url('MuseoSans_500.eot');
	src: local('Museo Sans 500'), local('MuseoSans-500'), url('MuseoSans_500.woff') format('woff'), url('MuseoSans_500.otf') format('opentype'), url('MuseoSans_500.svg#MuseoSans-500') format('svg');
}


html, body {
	background-color: #c2efff;
	font-family: MuseoSans500, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	height: 100%;
	width: 100%;
	color: #586c78;
	font-size: 100%;
}

.wrap_960 {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}


h3 {
	font-weight: normal;
	color: #157DBC;
	text-shadow: #fff 0 1px 0;
	font-size: 1.5em;
	margin-bottom: 0.7em;
}

h4, legend {
	font-weight: normal;
	color: #5f99bc;
	text-shadow: #fff 0 1px 0;
	font-size: 1.25em;
	margin-bottom: 0.7em;
}

p {
	color: #586c78;
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1.0em;
}

ul {
	color: #586c78;
	font-size: 16px;
	line-height: 1.5em;
	margin-bottom: 1.0em;
	list-style-type: square;
	list-style-position: outside;
}

a {
	color: #0599ee;
}

a:visited {
	color: #0483cc;
}


#masthead_wrap {
	height: 180px;
	overflow: hidden;
	width: 100%;
	background: url(../img/masthead_bg.png) repeat-x left 64px;
	margin: 0 0 30px 0;
	padding: 0;
	position: relative;
}

#masthead {
	width: 960px;
	height: 180px;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
	/*background: url(../img/masthead_pony.png) no-repeat center 10px;*/
	position: relative;
}

#masthead a#pony_home {
	display: block;
	position: absolute;
	width: 244px;
	height: 200px;
	top: 0;
	left: 358px;
	margin: 0;
	padding: 0;
	border: 0;
	background: url(../img/masthead_pony.png) no-repeat center top;
	text-decoration: none;
}

#masthead h1 {
	position: absolute;
	width: 363px;
	height: 99px;
	top: 63px;
	margin: 0;
	padding: 0;
}

#masthead h1 a {
	display: block;
	text-indent: -9999px;
	width: 363px;
	height: 99px;
	background: url(../img/djangocon_eu_masthead.png) no-repeat left 30px;
}

#masthead h2 {
	position: absolute;
	color: #157DBC;
	margin: 0;
	padding: 0;
	font-weight: normal;
	text-transform: uppercase;
	text-shadow: #fff 0 1px 0;
}

h2#where {
	top: 103px;
	font-size: 42px;
	left: 648px;
	letter-spacing: 0.1em;
}

h2#when {
	display: none;
	top: 85px;	
	font-size: 15px;
	color: #909ca2;
	left: 650px;
}

div#announceribbon {
	position: absolute;
	top: -15px;
	right: 200px;
	width: 181px;
	height: 131px;
	text-indent: -9999px;
	background: url(../img/dates_ribbon.png) no-repeat center top;
}

div#announceribbon:hover {
	top: -10px;
	-webkit-transition: top 100ms ease-out;
}

#tagline_wrap {
	width: 960px;
	height: 113px;
	overflow: visible;
	margin: 0 auto 30px;
	padding: 0;
	position: relative;
	background: url(../img/taglines.png) no-repeat center top;
}

.tagline_gravatar {
	display: block;
	background: #f5f5f5;
	border: 1px solid #aaa;
	padding: 4px;
	position: absolute;
	top: 20px;
	left: -25px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 2px 4px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 2px 4px 3px rgba(0,0,0,0.1);
	-webkit-transform: translate(0, 5px) rotate(-15deg);
	-moz-transform: translate(0, 5px) rotate(-15deg);

}

.tagline_text {
	font-size: 34px;
	text-shadow: #fff 0 2px 0;
	position: absolute;
	line-height: 85px;
	top: 8px;
	left: 50px;
	width: 900px;
	color: #586c78;
	overflow: hidden;
}


#formerror, .errorlist {
	color: #cc0404;
	text-shadow: #fff 0 2px 0;
	font-size: 1.25em;
	margin: 1em 0 0.5em;
}

ul.errorlist {
	margin: 0;
	list-style-type: none;
	font-size: 1em;
}

fieldset, div.row {
	display: block;
	position: relative;
	margin: 0 0 10px 0;
	clear: both;
}


#fieldset_email {
	height: 64px;
	width: 100%;
}

#fieldset_tagline {
	width: 100%;
}

label {
	text-transform: uppercase;
	font-family: MuseoSans500, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	display: block;
	font-size: 12px;
	line-height: 20px;
	height: 20px;
	padding: 0;
	margin: 0;
	color: #909ca2;
	font-weight: normal;
	text-shadow: #fff 1px 1px 0;
}

label.infield {
	position: absolute;
	left: 10px;
	bottom: 5px;
	font-size: 13px;
	text-shadow: #fff -1px -1px 0;
}

input, textarea {
	font-family: MuseoSans500, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 1em;
	margin: 0;
	display: block;
	padding: 4px;
	border: 1px solid #b3e5f8;
	font-weight: normal;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	vertical-align: middle;
	color: #157DBC;
	background: #d3f3ff url(../img/input_bg_inactive.png) repeat-x left bottom;
}

#subscribe input {
	width: 950px;
}

#form-talk-submit input, #form-talk-submit textarea {
	width: 530px;
}

#form-attendees-register input, #form-attendees-register textarea {
	width: 530px;
}

input:focus, textarea:focus {
	background: #fff url(../img/input_bg_white.png) repeat-x left bottom;
}

#fieldset_email input {
	font-size: 40px;
	height: 55px;
	line-height: 55px;
}

#fieldset_tagline input {
	font-size: 24px;
	height:30px;
	line-height: 35px;
}

#id_abstract {
	height: 100px;
}

#id_description {
	height: 250px;
}

p.helptext {
	font-size: 75%;
	opacity: 0.6;
}

#subscribe #signupbutton {
	width: 130px;
	height: 45px;
	background: url(../img/sign_up.png) no-repeat center center;
	cursor: pointer;
	text-indent: -9999px;
	margin-top: 20px;
}

#signupbutton:hover {
	background-image: url(../img/sign_up_hover.png);
}

#subscribe {
	width: 960px;
	overflow: visible;
	margin: 0 auto;
	padding: 0;
	position: relative;	
}

#subscribe h3 {
	font-weight: normal;
	color: #157DBC;
	text-shadow: #fff 0 1px 0;
	font-size: 19px;
	margin-bottom: 5px;
}

#subscribe h4 {
	font-weight: normal;
	color: #5f99bc;
	text-shadow: #fff 0 1px 0;
	font-size: 16px;
	margin-bottom: 10px;
}

#subscribe h5 {
	font-weight: normal;
	color: #7ba7c2;
	text-shadow: #fff 0 1px 0;
	font-size: 14px;
}

#footer {
	width: 960px;
	margin: 20px auto 10px;
	font-size: 12px;
	color: #9bd1dc;
	text-align: right;
}

#footer a {
	text-decoration: none;
	color: #9bd1dc;
}

#footer a:hover {
	color: #586c78;
	text-shadow: #fff 0 1px 0;
}

#footer a img {
	vertical-align: -5px;
}

#colophon p, #colophon ul {
	font-size: 0.8em;
}

#colophon ul {
	margin-left: 2em;
}

#not_found {
	margin-top: 50px;
	font-size: 1.2em;
}

#not_found h3 {
	width: 100%;
	height: 310px;
	text-indent: -9999px;
	background: url(../img/404.png) no-repeat center center;
}

/*#static {
    padding: 20px;
}

#static h2 {
	font-weight: normal;
	color: #157DBC;
	text-shadow: #fff 0 1px 0;
	font-size: 32px;
	margin-bottom: 5px;
}

#static p {
    font-weight: normal;
    color: #157DBC;
    font-size: 19px;
}*/

#navigation {
    margin: 0 auto;
    width: 960px;
    margin-bottom: 25px;
}
#navigation ul {
    list-style-type: none;
}
#navigation ul li {
    float: left;
}
#navigation a {
    padding: 0px 25px;
    color: #586C78;
    text-decoration: none;
    font-size: 1.1em;
    text-shadow: #fff 0 1px 0;
}
#navigation a.active {
    font-size: 1.6em;
}
.blog-post {
    margin-bottom:1.2em;
}
.blog-date {
    float:right;
    font-size:0.9em;
}
.blog-more {
    float:right;
}
.blog-tags {
    font-size:0.9em;
    font-style: italic;
}
.clear {
    clear: both;
}
.blog-detail .blog-more { display: none; }

.tags span.tags-1 { font-size: 10px; }
.tags span.tags-2 { font-size: 12px; }
.tags span.tags-3 { font-size: 14px; }
.tags span.tags-4 { font-size: 16px; }
.tags span.tags-5 { font-size: 18px; }
.tags span.tags-6 { font-size: 22px; }