/* @override http://localhost:8000/static/css/local.css */

/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
/*@font-face {
	font-family: 'MuseoSans500';
	src: url('MuseoSans_500.eot');
	src: local('Museo Sans 500'), local('MuseoSans-500'), url('MuseoSans_500.woff') format('woff'), url('MuseoSans_500.otf') format('opentype'), url('MuseoSans_500.svg#MuseoSans-500') format('svg');
}*/

/* @group General */

html, body {
	background-color: #c2efff;
	font-family: "museo-sans-1","museo-sans-2", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	height: 100%;
	width: 100%;
	color: #586c78;
	font-weight: 300;
	font-size: 100%;
}

section h1 {
	font-weight: 500;
	font-size: 24px;
	margin: 1em 0 0.3em;
	text-shadow: #fff 0 1px 0;
}

section h2 {
	font-weight: 500;
	font-size: 20px;
	margin: 1.5em 0 0.5em;
	text-shadow: #fff 0 1px 0;
}

section h3 {
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 2px;
	color: #7ea1ad;
	text-transform: uppercase;
	text-shadow: #fff 0 1px 0;
	margin: 1.5em 0 0.5em;
}

h3 {
    margin-bottom: 0.5em;
}

p {
	color: #586c78;
	font-size: 1em;
	line-height: 1.5em;
	margin: 0.6em 0;
}

ul {
	color: #586c78;
	font-size: 16px;
	line-height: 1.5em;
	margin-bottom: 1.0em;
	list-style-type: square;
	list-style-position: outside;
}

a {
	color: #0599ee;
	text-decoration: none;
}

a:visited {
	color: #0483cc;
}

a:hover {
	text-decoration: underline;
	text-shadow: #fff 0 1px 0;
	color: #be4518;
}

strong {
	font-weight: 700;
}

sup {
	padding-left: 1px;
	font-weight: lighter;
	font-size: 0.7em;
	vertical-align: super;
	line-height: 1.0em;
	text-decoration: underline;
}

/* @end */

/* @group Forms */

#formerror, .errorlist {
	color: #cc0404;
	text-shadow: #fff 0 2px 0;
	font-size: 1.25em;
	margin: 1em 0 0.5em;
	clear: both;
}

ul.errorlist {
	margin: 0;
	list-style-type: none;
	font-size: 1em;
}

div.formrow {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	/*margin: 0 0 10px 0;*/
	clear: both;
}

fieldset {
	margin: 1em 0 2em 0;
	padding-top: 0.5em;
}

fieldset legend {
	font-weight: 500;
	font-size: 20px;
	text-shadow: #fff 0 1px 0;
}

label {
	display: block;
}

label.infield {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 20px;
	height: 20px;
	padding: 0;
	margin: 0;
	color: #909ca2;
	font-weight: normal;
	text-shadow: #fff 1px 1px 0;
	position: absolute;
	left: 10px;
	top: 12px;
	font-size: 12px;
	text-shadow: #fff -1px -1px 0;
}

input, textarea {
	font-size: 1em;
	margin: 0;
	display: block;
	float: left;
	padding: 4px;
	border: 1px solid #b3e5f8;
	font-weight: normal;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	vertical-align: middle;
	color: #586c78;
	background: #d3f3ff url(../img/input_bg_inactive.png) repeat-x left bottom;
	width: 100%;
}

input:focus, textarea:focus {
	background: #fff url(../img/input_bg_white.png) repeat-x left bottom;
}

input.loading {
	background: #d3f3ff url(../img/form_loading.gif) no-repeat 10px center;
}

p.helptext {
	font-size: 0.9em;
	color: #7ea1ad;
}



input[type=text] {
	height: 32px;
}


input[type=checkbox] {
    width: 20px;
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}

input[type=radio] {
    width: 20px;
    float: left;
    margin-top: 3px;
    margin-right: 5px;
}

/* @end */

/* @group Masthead */

#masthead_wrap {
	height: 180px;
	overflow: hidden;
	width: 100%;
	background: url(../img/masthead_bg.png) repeat-x left 64px;
	margin: 0;
	padding: 0;
	position: relative;
}

#masthead {
	width: 960px;
	height: 180px;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

#masthead a#pony_home {
	float: right;
}

#masthead h1 {
	margin-top: 64px;
	height: 99px;
	width: 479px;
	float: right;
}

#masthead h1 a {
	display: block;
	text-indent: -9999px;
	width: 479px;
	height: 99px;
	background: url(../img/masthead_berlin_2010.png) no-repeat right center;
}

/* @end */

/* @group Primary Nav */

nav#primarynav {
	margin: 10px 0 15px 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #b2e3f5;
}

nav#primarynav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav#primarynav ul li {
	list-style: none;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	width: 143px;
}

nav#primarynav a {
	display: block;
	text-decoration: none;
	padding-bottom: 10px;
	
}

nav#primarynav h1 {
	font-weight: 300;
	font-size: 22px;
	color: #6b8893;
	margin-bottom: 0.5em;
	padding-left: 34px;
}

nav#primarynav a:hover h1 {
	background-position: left center;
	background-repeat: no-repeat;
	text-shadow: #fff 0 1px 0;
}

nav#primarynav a.active h1 {
	background-position: left center;
	background-repeat: no-repeat;
	text-shadow: #fff 0 2px 0;
}

nav#primarynav a.active h1 {
	font-weight: 700;
	color:  #555;
}

nav#primarynav a:hover h2 {
	text-shadow: none;
	color: #6b8893;
}

nav#primarynav li.inactive h1 {
	color: #6b8893;
}

nav#primarynav li#nav_talks a:hover h1,
nav#primarynav li#nav_talks a.active h1 {
	background-image: url(../img/nav_talks.png);
}

nav#primarynav li#nav_tickets a:hover h1,
nav#primarynav li#nav_tickets a.active h1 {
	background-image: url(../img/nav_tickets.png);
}

nav#primarynav li#nav_venue a:hover h1,
nav#primarynav li#nav_venue a.active h1 {
	background-image: url(../img/nav_venue.png);
}

nav#primarynav li#nav_blog a:hover h1,
nav#primarynav li#nav_blog a.active h1 {
	background-image: url(../img/nav_blog.png);
	background-position: 10px center;
}

nav#primarynav li#dates {
	width: 235px;
}

nav#primarynav li#dates h1 {
	text-indent: -9999px;
	display: block;
	width: 235px;
	min-height: 70px;
	background: url(../img/calendar.png) no-repeat center top;
	padding: 0;
}


nav#primarynav h2 {
	font-family: "sorts-mill-goudy-1","sorts-mill-goudy-2", Georgia, "Times New Roman", Times, serif;
	color: #92bac8;
	font-weight: normal;
	font-style: italic;
	line-height: 1em;
	padding-left: 34px;
}

/* @end */

/* @group Tagline */

#tagline_section {
	margin-top: 20px;
	margin-bottom: 20px;
}

#tagline_section h1 {
	padding-left: 10px;
	margin-bottom: 10px;
	font-weight: 300;
	font-size: 14px;
	color: #7ea1ad;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	text-shadow: #fff 0 1px 0;
}

#tagline_wrap {
	width: 960px;
	height: 113px;
	overflow: visible;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background: url(../img/taglines.png) no-repeat center top;
}

.tagline_gravatar {
	display: block;
	background: #f5f5f5;
	border: 1px solid #aaa;
	padding: 4px;
	position: absolute;
	top: 20px;
	left: -25px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 2px 4px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 2px 4px 3px rgba(0,0,0,0.1);
	-webkit-transform: translate(0, 5px) rotate(-15deg);
	-moz-transform: translate(0, 5px) rotate(-15deg);

}

.tagline_text {
	font-size: 34px;
	text-shadow: #fff 0 2px 0;
	position: absolute;
	line-height: 85px;
	top: 8px;
	left: 50px;
	width: 900px;
	color: #586c78;
	overflow: hidden;
}

/* @end */

/* @group Home */

section.home_split_info {
	margin-bottom: 1em;
}

section.home_split_info h1 {
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 0.5em;
	text-shadow: #fff 0 1px 0;
	padding-left: 34px;
	padding-right: 15px;
	background-position: left center;
	background-repeat: no-repeat;
}

section.home_split_info#home_elevator_statement h1 {
	background-image: url(../img/nav_talks.png);
}

section.home_split_info#home_sponsors h1 {
	background-image: url(../img/heart_icon.png);
}

section.home_split_info#home_tickets h1 {
	background-image: url(../img/nav_tickets.png);
}


section.home_split_info p {
	font-size: 16px;
	padding-left: 34px;
	padding-right: 15px;
}

section.home_split_info ul {
	margin-left: 34px;
	padding-right: 15px;
}

#home_tickets ul {
	font-size: 20px;
	float: left;
	border-right: 1px solid #b2e3f5;
	margin-right: 20px;
}

#home_tickets ul strong {
	font-weight: 900;
	letter-spacing: 1px;
}

p#register_now {
	font-size: 30px;
	margin-top: 39px;
}

p#register_now a {
	padding: 5px;
	color: #157dbc;
	font-weight: 500;
	text-shadow: #fff 0 2px 0;
}

p#register_now a:hover {
	text-decoration: none;
	color: #fff;
	text-shadow: #35800f 0 2px 0;
	background-color: #86b831;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#home_latest_blog>h1 {
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 0.5em;
	text-shadow: #fff 0 1px 0;
	float:left;
	margin-right: 0.2em;
	padding-left: 34px;
	padding-right: 15px;
	background: url(../img/nav_blog.png) no-repeat 7px center;
}

#home_latest_blog>ul {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 1.6em;
}

#home_latest_blog>ul>li {
	list-style: none;
	display: block;
	float: left;
	margin: 0 1em 0 0;
	padding: 0;
}

#home_latest_blog>ul>li>a {
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px
}

#home_latest_blog article {
	clear: both;
	padding-left: 34px;
	padding-right: 15px;
}

#home_latest_blog article h1 {
	clear: both;
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 0.4em;
	text-shadow: #fff 0 1px 0;
}

#home_latest_blog article h2 {
	font-weight: 300;
	font-size: 12px;
	color: #7ea1ad;
	text-transform: uppercase;
	text-shadow: #fff 0 1px 0;
	margin-bottom: 10px;
}

/* @group email signup */

#fieldset_email {
	height: 64px;
	width: 490px;
	margin: 0;
	padding: 0;
	float: left;
}

#fieldset_email legend {
	padding: 0;
}

#fieldset_email input {
	font-size: 30px;
	height: 40px;
	line-height: 40px;
	width: 460px;
}

#signupbutton {
	width: 130px;
	height: 45px;
	background: url(../img/sign_up.png) no-repeat center top;
	cursor: pointer;
	text-indent: -9999px;
	margin-top: 2px;
}

#signupbutton:hover {
	background-position: center -45px;
}

.already_subscribed {
	padding-left: 65px;
	padding-top: 10px;
	background: url(../img/subscribed.png) no-repeat -10px -10px;
	overflow: visible;
	min-height: 80px;
}

#subscribe h1 {	
	font-weight: 300;
	font-size: 14px;
	color: #7ea1ad;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	text-shadow: #fff 0 1px 0;
	margin: 0 0 10px 0;
}

#subscribe h2 {
	font-weight: 300;
	color: #7ea1ad;
	font-size: 18px;
	margin: 0 0 10px;
	margin-bottom: 10px;
}

#subscribe h3 {
	font-weight: 300;
	color: #7ea1ad;
	text-shadow: none;
	text-transform: none;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
	letter-spacing: normal;
}



/* @end */


/* @end */

/* @group Talk Submission */

fieldset#fieldset_speaker_details,
fieldset#fieldset_talk_details {
	margin-top: 30px;	
}


fieldset#fieldset_speaker_details legend,
fieldset#fieldset_talk_details legend {
	font-weight: 500;
	font-size: 20px;
	text-shadow: #fff 0 1px 0;
}


/*#form-talk-submit input, #form-talk-submit textarea,
#form-attendees-register input, #form-attendees-register textarea {
	width: 100%;
}*/




#form-talk-submit label[for=id_allow_recording] {
	color: #586c78;
	font-weight: 700;
	font-size: 1.2em;
	text-shadow: #fff 0 1px 0;
}

#talk_audience_level ul {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
}

#talk_audience_level li {
	margin: 0;
	padding: 5px;
	width: 170px;
	float: left;
}


#talk_submit {
	height: 45px;
	background: url(../img/submit_talk_button.png) no-repeat center top;
	cursor: pointer;
	text-indent: -9999px;
}

#talk_submit:hover {
	background-position: center -45px;
}

#id_abstract {
	height: 100px;
}

#id_description {
	height: 250px;
}

/* @end */

/* @group Attendee Registration */

#ticket_submit {
	height: 45px;
	background: url(../img/register_pay_button.png) no-repeat center top;
	cursor: pointer;
	text-indent: -9999px;
}

#ticket_submit:hover {
	background-position: center -45px;
}

#fieldset_attendees_register_voucher,
#fieldset_attendees_vat_details {
	display: none;
}

#fieldset_attendees_register_ticket label[for=id_ticket_type] {
	display: none;
}
	
}

/* @end */

/* @group Venue */

img#map {
	background-color: #fafafa;
	padding: 9px;
	border: 1px solid #ddd;
}

a:hover img#map {
	background-color: #586c78;
}

a.colorbox img {
	background-color: #fafafa;
	padding: 4px;
	border: 1px solid #ddd;
}

a.colorbox:hover img {
	background-color: #586c78;
}

/* @end */

/* @group Footer */

#footer {
	width: 960px;
	margin: 20px auto 10px;
	font-size: 12px;
	color: #9bd1dc;
	text-align: right;
}

#footer a {
	text-decoration: none;
	color: #9bd1dc;
}

#footer a:hover {
	color: #586c78;
	text-shadow: #fff 0 1px 0;
}

#footer a img {
	vertical-align: -5px;
}

/* @end */

/* @group Colophon */

#colophon p, #colophon ul {
	font-size: 0.8em;
}

#colophon ul {
	margin-left: 2em;
}

/* @end */

/* @group 404 */

#not_found {
	margin-top: 50px;
	font-size: 1.2em;
}

#not_found h3 {
	width: 100%;
	height: 310px;
	text-indent: -9999px;
	background: url(../img/404.png) no-repeat center center;
}

/* @end */

/* @group Sidebar */

section.sidebar {
	padding-top: 5px;
}

section.sidebar h1 {
	font-size: 1.4em;
	margin-bottom: 0.5em;
}

section.sidebar h2 {
	font-size: 1.2em;
	margin-bottom: 0.5em;
}

section.sidebar p {
	font-size: 0.8em;
}

section.sidebar hr {
	border-color: #98c2d0;
	background-color: #dff6ff;
}

section.sidebar ul {
	list-style: none;
	margin-top: 15px;
}



/* @end */

/* @group Blog */

section#blog_sidebar ul#blog_tags li {
	padding-left: 25px;
	background: url(../img/tag_small.png) no-repeat left center;
	margin-bottom: 0.2em;
}

section#blog_sidebar ul#blog_resources li {
	padding-left: 25px;
	background: url(../img/resource_small.png) no-repeat left 2px;
	margin-bottom: 0.75em;
	line-height: 1.0em;
}

section#blog_sidebar ul#blog_resources li a {
	line-height: 1.25em;
}

section#blog_sidebar ul#blog_resources li .caption {
	font-size: 0.8em;
}


.blog_post_tease {
	font-size: 1.25em;
}

section#blog_sidebar p.blog_meta {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

/* @end */