
/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
	font-family: 'MuseoSans500';
	src: url('MuseoSans_500.eot');
	src: local('Museo Sans 500'), local('MuseoSans-500'), url('MuseoSans_500.woff') format('woff'), url('MuseoSans_500.otf') format('opentype'), url('MuseoSans_500.svg#MuseoSans-500') format('svg');
}


html, body {
	background-color: #c2efff;
	font-family: MuseoSans500, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	height: 100%;
	width: 100%;
}



#about {
	width: 345px;
	background: url(../img/edc_logo2.png) no-repeat 0 40px;
	float: left;
}

#about h1 {
	width: 100%;
	height: 300px;
	text-indent: -9999px;
}

.lefttag {
	width: 100%;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	margin-bottom: 10px;
	min-height: 40px;
	position: relative;
	background: #fff url(../img/stripe.png) repeat left top;
}

.basicinfolabel {
	width: 85px;
	text-align: right;
	text-transform: uppercase;
	font-family: MuseoSans500, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #736357;
	position: absolute;
	bottom: 9px;
	left: 0;
	font-size: 12px;
}

.lefttag h2 {
	position: relative;
	left: 90px;

	font-family: MuseoSans500, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
	color: #157DBC;
	font-weight: normal;
}

h2#when {
	font-size: 19px;
	padding-top: 13px;
	padding-left: 5px;
}

h2#when acronym {
	border-bottom: 1px dotted #5badde;
}

h2#where {
	font-size: 64px;
}

#flowchart {
	width: 100%;
	height: 60px;
	text-indent: -9999px;
	background: url(../img/flowchart.png) no-repeat center center;
}

fieldset {
	display: block;
	position: relative;
	margin-right: 20px;
	margin-bottom: 10px;
	clear: both;
}


#fieldset_email {
	height: 64px;
	float: left;
}

#fieldset_tagline {
	width: 100%;
}

label {
	text-transform: uppercase;
	font-family: MuseoSans500, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	display: block;
	font-size: 12px;
	line-height: 20px;
	height: 20px;
	padding: 0;
	margin: 0;
	color: #736357;;
	font-weight: normal;
	text-shadow: #fff -1px -1px 0;*/
}

label.infield {
	position: absolute;
	left: 5px;
	bottom: 5px;
	font-size: 13px;
	
}

input {
	font-family: MuseoSans500, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin: 0;
	display: block;
	padding: 4px;
	border: 1px #ddd solid;
	font-size: 24px;
	height:30px;
	line-height: 35px;
	font-weight: normal;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	vertical-align: middle;
	color: #157DBC;
	background: #fff url(../img/input_bg_white.png) repeat-x left bottom;
}

#fieldset_email input {
	height: 55px;
	width: 400px;
	font-size: 40px;
	line-height: 55px;
}

#signupbutton {
	width: 130px;
	height: 45px;
	background: url(../img/sign_up.png) no-repeat center center;
	cursor: pointer;
	text-indent: -9999px;
	position: relative;
	top: 10px;
}

#signupbutton:hover {
	background-image: url(../img/sign_up_hover.png);
}

#fieldset_tagline input {
	width: 95%;
}

#taglines {
	position: absolute;
	left: 360px;
	right: 20px;
	top: 50px;
	height: 240px;
	min-width: 640px;
	font-family: MuseoSans500, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 64px;
	color: #157DBC;
	text-shadow: #fff 0 1px 0;
}

img.gravatar {
	background: #fff;
	border: 1px solid #ddd;
	padding: 4px;
	vertical-align: -2px;
}

#subscribe {
	position: absolute;
	left: 360px;
	right: 0;
	top: 300px;
	height: 160px;
	min-width: 640px;
	padding: 10px;
	padding-top: 0;
	/*-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	border-top: 3px dashed #fff;
	border-left: 3px dashed #fff;
	border-bottom: 3px dashed #fff;*/
}

#subscribe h3 {
	font-weight: normal;
	color: #157DBC;
	text-shadow: #fff 0 1px 0;
	font-size: 19px;
	margin-bottom: 5px;
}

#subscribe h4 {
	font-weight: normal;
	color: #5f99bc;
	text-shadow: #fff 0 1px 0;
	font-size: 16px;
	margin-bottom: 10px;
}

#subscribe h4 a {
	color: #5284a2;
}

#subscribe h4 a:hover {
	color: #836651;
}

#subscribe h5 {
	font-weight: normal;
	color: #7ba7c2;
	text-shadow: #fff 0 1px 0;
	font-size: 14px;
}

#static {
    padding: 20px;
}

#static h2 {
	font-weight: normal;
	color: #157DBC;
	text-shadow: #fff 0 1px 0;
	font-size: 32px;
	margin-bottom: 5px;
}

#static p {
    font-weight: normal;
    color: #157DBC;
    font-size: 19px;
}