{% extends "base.html" %}

{% block extra_body %}id="placeholder"{% endblock extra_body %}


{% block typekit %}
{% include "core/graceful_typekit.html" %}
{% endblock typekit %}
{# we loaded jQuery early for typekit's benefit, don't load it again. #}
{% block jquery %}{% endblock jquery %}

{% block body %}
<header>
<h1><a href="{% url placeholder %}">DjangoCon Europe</a></h1>
<h2 class="webfont">June 2011 <em>—in—</em> Amsterdam</h2>
<h3 class="webfont"><span id="conference"><em>Conference</em> 6<sup>th</sup>&thinsp;–&thinsp;8<sup>th</sup></span><span id="sprints"><em>Sprints</em> 9<sup>th</sup>&thinsp;–&thinsp;10<sup>th</sup></span></h3>
</header>

<section id="capture" class="webfont">
    <form id="subscribe" action="{% url subscribe %}" method="post" accept-charset="utf-8">
        <label for="id_email">Subscribe for conference updates by email!</label>
        {{ form.email }}
        <input id="submit" type="submit" value="send" />
        <div id="feedback"></div>
    </form>
</section>


{% endblock body %}

{% block extra_js %}
<script src="{{ STATIC_URL }}js/jquery.labelify.min.js"></script>
<script>
    $(document).ready(function() {
        var labelClass = 'labelled';
        var placeholderText = function(input) {return "your@email.com"}
        $("#id_email").labelify({
            labelledClass: labelClass,
            text: placeholderText
        });

        $("#subscribe").submit( function(event) {
            feedback = $('#feedback')
            email_field = $('#id_email');
            email = email_field.val();
            if (email) {
                email_field.blur();
                feedback.removeClass('ok error').addClass('processing').fadeIn(200);
                $.ajax({
                    url: '{% url subscribe %}',
                    type: 'POST',
                    data: $("#subscribe").serialize(),
                    complete: function(transport) {
                        switch(transport.status) {
                            case 201:
                                feedback.removeClass('processing').addClass('ok').html("OK, we got that one!").delay(3000).fadeOut(500);
                                email_field.blur().val(placeholderText()).addClass(labelClass);
                                _gaq.push(['_trackPageview', '/subscribe']);
                                break;
                            case 200:
                                feedback.removeClass('processing').addClass('ok').html("We already have your email!").delay(3000).fadeOut(500);
                                email_field.blur().val(placeholderText()).addClass(labelClass);
                                break;
                            case 400:
                                feedback.removeClass('processing').addClass('error').html("Your <em>email</em>, please!").delay(3000).fadeOut(500);
                                email_field.focus();
                                break;
                            default:
                                feedback.removeClass('processing').addClass('error').html("Uh oh. Something went wrong. Try again?").delay(3000).fadeOut(500);
                                email_field.focus();
                                break;
                        }
                    }

                });
            } else {
                $("#id_email").val(placeholderText()).addClass(labelClass);
            }
            return false;
        });
    });
</script>
{% endblock extra_js %}
